<!doctype html>
<html >
<head>
	<meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title>Travel Pal </title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
	<link href="/static/css/style.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="main" style="background-image: url('/static/images/rome.jpg')">

<!--    background image  '/images/default.jpg'     -->

    <div class="cover black" data-color="black"></div>

<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive" style="margin-top: 120px">Travel Pal</h1>

        <div class="content">
            <h4 style="color: white; margin-left: 580px; font-family:verdana;">————Discover your next destination</h4>
			<div style="text-align: center;">

					<form class="form-inline" id = "mainform" role="form" method = "GET" action="/general">
						<input type="text" name = "query" style="width: 600px; height: 40px; margin-top:20px;font-size:20px" class="form-control transparent" placeholder="Search here...">
					  <button type="submit" id = "submit" class="btn btn-danger btn-fill" style="margin-top: 20px; font-size:20px">Search</button><br>
					  <h4 style="color: white;">
					  <input type="radio" name="typename" value="general" style="color: white; margin-left: 0px; font-family:verdana;"> General
					  <input type="radio" name="typename" value="restaurant"> Restaurant
					  <input type="radio" name="typename" value="museum"> Museum
					</form>


			</div>
        </div>

    </div>
    <div class="footer">
    </div>
 </div>


 </body>
   <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
   <script src="js/bootstrap.min.js" type="text/javascript"></script>

</html>
